.acticle{
    border-bottom: 1px dashed #000;
    padding: 15px;
}

.acticle h1{
    margin:10px 0;
    font-size: 18px;
    width: 300px;
}
.acticleContent{
    margin:10px 25px;
    overflow: hidden;
}
.detail{
    overflow: hidden;
}
.detail ul li{
    float: left;
    margin-right:25px ;
}
.detail .info{
    color: #a245da;
}
