body {
  /*font-family: '微软雅黑', sans-serif !important;*/
  margin:0;
  padding:0;
}

/*a {
  color: #00B7FF;
}*/
.ell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.moreEll{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

a{

}
textarea{
    resize:none;
    height:290px !important;
}
label{
    text-align: right;
}
/*tips*/
#tips{
    text-align: center;
    width:150px;
    height:50px;
    color: #fff;
    background: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 1000;
    line-height: 50px;
    display: none;
    /*transform: scale(0.5);*/
}
#tips span{
    color: #fff;

}
.tipActive{
    transition: -webkit-transform 500ms linear;
    transform: rotateY(360deg) scale(1);
}
.tipsHide{
    display: none
}

/*header*/
.blog{
    color:#7b8690;
    font-size:22px;
    display: inline-block;
    line-height: 65px;
}
.search_box{
    float: right;
    line-height: 65px;
}
.search{
    width: 155px;
    height: 34px;
    margin: 0px 5px 0 0;
    text-indent: 1em;
}

/*navbar*/
.noUser span{
    cursor: pointer;
}
.navbar{
    background-color: #fff;
    border: none;
    padding:35px 0;
}
.navbar a{
    color:#444;
    text-decoration: none;
}
.navbar a:hover{
    color:#222;
}
/*acticle*/
.acticle{
    margin-top: 35px ;
    min-height: 445px;
}
.acticle:hover{
    box-shadow: 0 0 12px 0px #999;
}
.acticle .card img{
    width: 100%;
}
.acticle .Thum_body{
    text-align: center;
}
.acticle .Thum_body a{
    text-decoration: none !important;
    color:#5b6268 !important;
}
.acticle .Thum_title{
    word-break: break-word;
}
.acticle .Thum_text{
    min-height: 95px;
}
.acticle .Thum_text p{
    text-indent: 2em;
    word-break: break-word;
    width: 100%;
    height: 65px;
}
.acticle .more{
    text-align: right;
}



.btnStyle{
    min-width: 150px;
}
/*publish*/
.publish{
    padding: 30px 0;
}

/*footer*/
.footer{
    margin-top: 30px;
}

.footer_content{
    margin-top:10px;
    background-color: #000;
    width: 100%;
    height:150px;
    line-height: 150px;
}

.footer_content p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    margin: 0;
}
